<section class="method-section">
    <div class="mds-container">
        <div class="section-type">Nos expertises</div>
        <h2 class="section-title">
            Pourquoi choisir MindsersIT pour votre landing page ?
        </h2>
        <ul class="key-points">
            <li>
                {{> "images/experts"}}
                    Experts SaaS avec 10+ ans d’expérience
            </li>
            <li>
                {{> "images/time"}}
                Délais garantis, pas de surprises
            </li>
            <li>
                {{> "images/techno"}}
                Technos modernes et évolutives
            </li>
            <li>
                {{> "images/startups"}}
                MVP testé et validé par de vraies startups
            </li>
        </ul>
    </div>
</section>