<section class='mds-team'>
    <div class='mds-container'>
        <div class='section-type'>Nos experts</div>
        <h2 class='section-title'>
            Une équipe qui t'accompagne
            <br />dès la validation de ton idée
        </h2>

        <div class='pics'>
            <div class='pic'>
                <img
                    src='{{asset "images/nathanael.jpg"}}'
                    width='150'
                    height='150'
                />

                <p class='fullname'>Nathanaël Cherrier</p>
                <p class='title'>Expert Tech / Archi</p>

            </div>
            <div class='pic'>
                <img
                    src='{{asset "images/mathieu.jpg"}}'
                    width='150'
                    height='150'
                />

                <p class='fullname'>Mathieu Lombard</p>
                <p class='title'>Expert Conception Produit</p>

            </div>
            <div class='pic'>
                <img
                    src='{{asset "images/simon.jpg"}}'
                    width='150'
                    height='150'
                />

                <p class='fullname'>Simon Dugenetey</p>
                <p class='title'>Expert Design UX & UI</p>

            </div>
        </div>
    </div>
</section>