<section class="mds-testimonials">
    <div class="mds-container">
        <div class="section-type">Avis client</div>
        <h2 class="section-title">
            La réputation d’un studio SaaS est importante.<br/>La notre est irréprochable !
        </h2>
        <p class="review">
            Nathanaël, au delà de ses compétences techniques, a la capacité à comprendre les enjeux business du produit et à les intégrer dans sa réflexion pour développer en prenant en compte l’ensemble des besoins clients/ utilisateurs mais aussi les enjeux liés à l’entreprise. Il sait prendre du recul sur son travail et notamment le faire challenger par les utilisateurs afin de l’améliorer en continu.
        </p>
        <div class="footer">
            <img src="{{asset "images/manon.jpg"}}" width="50" height="50"/>
            <p class="author">
                <span class="fullname">Manon Petit</span>
                <span class="title">Head of Operation @ Ferpection</span>
            </p>
        </div>
    </div>
</section>