@use 'colors';
@use 'fonts';
@use 'global';
@use 'sections';

.mds-home {
    font-family: var(--gh-font-body, fonts.$sans);

    .mds-header .mds-container {
        margin: 80px auto;
        display: flex;
        justify-content: space-around;

        @media (max-width: 1024px) {
            margin: 0 20px;
        }

        @media (max-width: 550px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        @media (max-width: 350px) {
            margin: 0;
        }

        .presentation {
            width: 70%;

            @media (max-width: 1024px) {
                width: 85%;
            }

            @media (max-width: 550px) {
                width: 100%;
                text-align: center;
            }

            .mds-title {
                font-family: var(--gh-font-heading, fonts.$sans);
                font-size: 3.5em;
                font-weight: 900;
                text-align: center;
                margin: 40px 0 20px;

                @media (max-width: 850px) {
                    font-size: 3em;
                }

                @media (max-width: 550px) {
                    text-align: center;
                    font-size: 2.8em;
                }

                @media (max-width: 350px) {
                    font-size: 2.5em;
                }
            }

            .mds-cta {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .rate {
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
                    font-size: small;

                    .stars {
                        font-size: large;
                    }
                }
            }

            .offer-links {
                display: flex;
                gap: 20px;

                a {
                    color: colors.$secondary;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: colors.$foreground;
                    }
                }

                @media (max-width: 550px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 50px
                }
            }
        }
    }

    .offer-section {
        width: 100%;
        color: white;
        text-align: center;

        @media (max-width: 850px) {
            padding: 50px 0;
        }

        a:not(.button) {
            color: white;
        }

        .section-title {
            margin: 10px 0 60px 0;
            font-family: var(--gh-font-heading, fonts.$sans);
        }

        .button {
            font-weight: 600;
            border: 1px solid var(--foreground-color);
            text-decoration: none;
            font-size: 1em;
            transition: all 0.4s ease-in-out;

            .primary {
                color: var(--background-color);
                background: var(--foreground-color);
            }
        }

        form,
        label {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            margin: auto;
        }

        label {
            margin: 10px 0;
            text-align: left;
            font-weight: 600;
        }

        .pricing-options {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            .pricing-option {
                text-align: left;
                border: 3px solid white;
                border-radius: 10px;
                padding: 10px 20px;
                max-width: 350px;
                background-color: white;
                color: colors.$background;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                h3 {
                    font-family: var(--gh-font-heading, fonts.$sans);
                }

                hr {
                    border: 1px solid colors.$background;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    padding: 0;
                    gap: 15px;
                }

                .price {
                    font-size: 2em;
                    font-weight: bolder;
                    margin: 32px 0 0 0;
                }

                .price-mentions {
                    font-size: 0.8em;
                    margin: 0;
                }

                hr {
                    margin: 32px 0;
                }

                .button {
                    text-align: center;
                }

                .more-link {
                    color: colors.$background;
                    font-size: 0.8rem;
                    text-align: center;
                }

                .body {
                    margin-bottom: 32px;
                    text-align: center;
                }

                @media (max-width: 1024px) {
                    max-width: 650px;
                    align-self: center;
                    width: unset;
                }

                &.featured {
                    grid-area: option3;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    @media (max-width: 550px) {
                        flex-direction: column;
                    }

                    & .cta {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        margin: 20px 0;

                        & .price {
                            margin: 0;
                        }
                    }
                }
            }
            &.detailed {
                .pricing-option {
                    max-width: 650px;
                }
            }
        }
    }

    .method-section {
        .mds-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card {
                border: 5px solid gray;
                padding: 10px;
                border-radius: 10px;
                min-width: 100px;
                text-align: center;

                .mds-title {
                    font-size: larger;
                    font-weight: bold;
                }
            }
        }
    }

    .mds-personas {
        @media (max-width: 1024px) {
            margin: 0 auto;
        }

        .persona-cards {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            .persona-card {
                background-color: colors.$foreground;
                border-radius: 10px;
                padding: 10px 20px;
                max-width: 350px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                @media (max-width: 1024px) {
                    max-width: 650px;
                    align-self: center;
                    width: unset;
                }

                .mds-title {
                    font-size: larger;
                    font-weight: bold;
                }

                .button {
                    font-size: 1rem;
                }
            }
        }
    }

    .mds-cta-end {
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    .key-points {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin: 50px auto;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-align: center;
            max-width: 250px;

            svg {
                height: 150px;
                width: 150px;
            }
        }
    }

    .mds-testimonials .mds-container {
        .review {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.5em;

            &::before {
                content: '“';
                font-size: 2em;
                line-height: 20px;
            }

            &::after {
                content: '”';
            }
        }

        .footer {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }

            .author {
                font-family: fonts.$sans;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 0.8em;
                    color: colors.$secondary;
                }
            }
        }
    }

    .mds-customers .mds-container {
        display: flex;
        flex-direction: column;
        margin: 100px 0;
        overflow: hidden;
        width: 100%;
        max-width: none;
        box-sizing: border-box;

        .logos {
            display: flex;
            justify-content: flex-start;
            width: fit-content;
            align-items: center;
            gap: 40px;

            animation: scroll 30s linear infinite;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translatex(-51%);
            }
        }
    }

    .mds-team {
        .section-subtitle {
            text-align: center;
        }

        .pics {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 90px;
            margin: 75px auto;

            @media (max-width: 550px) {
                flex-direction: column;
                align-items: center;
            }

            .pic {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                p {
                    text-align: center;
                    padding: 0;
                    margin: 0;

                    &.fullname {
                        font-weight: 600;
                        font-size: 1.2rem;
                        margin-top: 15px;
                    }
                }

                .bio {
                    max-width: 250px;
                    margin-top: 20px;
                }

                &.disabled {
                    opacity: 0.5;
                    filter: grayscale(100%);

                    .img-placeholder {
                        background: colors.$neutral;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin: 0 auto 1rem;
                    }
                }
            }
        }
    }

    .faq-section {
        .faq-items {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: 20px;

            .faq-item {
                background-color: colors.$foreground;
                color: colors.$background;
                padding: 10px 20px;
                border-radius: 10px;
                transition: all 0.3s ease-in-out;

                label {
                    cursor: pointer;
                }

                p,
                ul {
                    display: none;
                }

                input[type='checkbox'] {
                    display: none;
                }

                input[type='checkbox']:checked ~ p,
                input[type='checkbox']:checked ~ ul {
                    display: block;
                }
            }
        }

        .faq-cta {
            text-align: center;

            a {
                color: colors.$foreground;
            }
        }

        &.accent {
            .faq-item {
                background-color: colors.$background;
                color: colors.$foreground;
            }
        }
    }
}
